<?xml version="1.0" encoding="utf-8"?>
<!--~
  ~ Created by Elegant Access's KC on 11/4/20 12:14 PM.
  ~ Copyright (c) 2020 All rights reserved.
  ~ Your support is my biggest motivation , please follow my Instagram  : https://www.instagram.com/eleg.aces.kc/
  ~ See more project on github : https://github.com/KuanChunChen
  ~ See tutorial on my site : https://medium.com/@elegant-access-kc
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="k.c.horizontal.move.sheet.demo">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/kc_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="k.c.horizontal.move.sheet.demo.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="k.c.horizontal.move.sheet.demo.ui.WebViewActivity"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>